body {
	font-size: 14px;
	color: #4c5258;
	letter-spacing: 0.5px;
	background: #f7f7ff;
	overflow-x: hidden;
	font-family: Roboto, sans-serif;
}

.btn-facebook {
	box-shadow: 0 2px 2px 0 rgb(59 89 152 / 14%),
		0 3px 1px -2px rgb(59 89 152 / 20%), 0 1px 5px 0 rgb(59 89 152 / 12%);
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}

.btn i {
	vertical-align: middle;
	font-size: 1.3rem;
	margin-top: -1em;
	margin-bottom: -1em;
	margin-right: 10px;
}

.btn-white {
	background-color: #fff;
	border-color: #e7eaf3;
}

.login-separater span {
	position: relative;
	top: 26px;
	margin-top: -10px;
	background: #fff;
	padding: 5px;
	font-size: 12px;
	color: #cbcbcb;
	z-index: 1;
}
.form-control,
i {
	text-decoration: none;
}
